{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    {% for message in app.flashes('success') %}
        <div class="flash-notice" style="background: green; padding: 30px 20px; color: white;">
            {{ message }}
        </div>
    {% endfor %}


    {% for post in posts %}
        {{ post.getId }} <br>
        {{ post.getName }} <br>
        {{ post.getDescription }}
        category: {{ post.getCategory.getName ?? "" }}
        <br>
            {%for label in post.getLabels %}
                   <span style="color: red; padding: 3px;">{{ label.getName }}</span><br>
            {% endfor %}
        <br>
        odkaz zde:
        <a href="{{ path('post_show', { id: post.id }) }}">{{ post.getName }}</a>
        <hr>
    {% endfor %}


{% endblock %}
