{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

        <img src="{{asset( post.getImage.getPath) }}" alt="" style="width: 300px;">
        {{ post.id }} <br>
        {{ post.name }} <br>
        {{ post.description }}
        category: {{ post.getCategory.getName ?? "" }}
        <br>
        <a href="{{ path('post_delete', {id: post.id}) }}">Smazat</a>
        <br>
        <a href="{{ path('post_edit', {id: post.id}) }}">Editovat</a>

{% endblock %}
